@charset "utf-8";
/* CSS Document */
body {
	background: #CCC;
}

#wrapper {
	width: 80%;
	height: 1000px;
	margin: 0 auto;
}

#obrazek {
	background: none;
	position: relative;
	top: 50px;
	left: 50px;
	
	/* przesuniecie strzałki w prawo i pozostanie w pozycji końcowej*/
	-moz-animation-name: przesun;
	-moz-animation-duration: 3s;
	-moz-animation-fill-mode: forwards;
}

@-moz-keyframes przesun {
	0%{-moz-transform: translateX(0);}
	100%{-moz-transform: translateX(800px);}
}