@charset "utf-8";
/* CSS Document */
body {
	background: #CCC;
}

#wrapper {
	width: 80%;
	height: 1000px;
	margin: 0 auto;
}

#obrazek {
	background: none;
	position: relative;
	top: 50px;
	left: 50px;
	
/* gwałtowne zmiany predkości */
-moz-animation-name: przesun;
	-moz-animation-duration: 5s;
	-moz-animation-fill-mode: forwards;
	-moz-animation-timing-function: cubic-bezier(.74,.08,.22,.93);
}

@-moz-keyframes przesun {
	0%{-moz-transform: translateX(0);}
	100%{-moz-transform: translateX(800px);}
}
