@charset "utf-8";
/* CSS Document */
body {
	background-color: #F90;
	background-size: 100px 100px;
	background-image: linear-gradient(rgba(255,255,255,.2) 50%, transparent 50%, transparent);
}
/*gradient jako wzorek na całej stronie STYLUJEMY całe BODY.
  background-color = GŁÓWNY KOLOR,
  background-size = wymiary które sie powtarzają na całej stronie,
  background-image = polecenie gradientu ( w nawiasach 1 kolor zajmuje 50%,
  następnie PRZEZROCZYSTOŚĆ 50% i ostatnia pozycja PEŁNA PRZEZROCZYSTOŚĆ ).*/