@charset "utf-8";
/* CSS Document */
#box {
	width: 700px;
	height: 700px;
	margin: 0 auto;
	background: linear-gradient(+45deg,#00F,#9F0,#FC3,#00F);
}
/* parametr +/-45deg oznacza kąt i kierunek nachylenia gradientu
  (plus nie jest wymagany)*/