@charset "utf-8";
/* CSS Document */
body {
	font-family: Verdana, Geneva, sans-serif;
	background: #eaeaea;
}

#wrapper {
	width: 60%;
	margin: 0 auto;
	margin-top: 100px;
}

a {
	color: #333;
	font-size: 22px;
	display: block;
}

div > div {
	width: 200px;
	height: 200px;
	background: #F90;
	border: 1px solid #000;
}
/* SELEKTOR target - zmiana koloru boxa po kliknieciu w odpowiedni LINK */
div:target {
	background: #900;
}





